{% extends "base.html" %}
{% block contenido %}
    <div class="container">
        <div class="card p-2">
            <div class="col-12 col-sm-6 col-md-4 p-3">
                <a href="/contactos" class=" btn btn-light"> Atras </a>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 p-3">
                    <p><b>Nombre</b></p>
                    <p>{{contacto.nombre}}</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-3">
                    <p><b>Empresa</b></p>
                    <p>{{contacto.empresa}}</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-3">
                    <p><b>Correo electronico</b></p>
                    <p>{{contacto.correo}}</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-3">
                    <p><b>Telefono</b></p>
                    <p>{{contacto.telefono}}</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-3">
                    <a href="/contacto/{{contacto.nombre}}" class=" btn btn-light"> Editar </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
